// logo carousel
.logo-carousel-section
    .container
        .row
            .col-lg-12
                .logo-carousel-inner
                    .single-logo-item
                        img(src="/img/company-logos/1.png", alt="")
                    .single-logo-item
                        img(src="/img/company-logos/2.png", alt="")
                    .single-logo-item
                        img(src="/img/company-logos/3.png", alt="")
                    .single-logo-item
                        img(src="/img/company-logos/4.png", alt="")
                    .single-logo-item
                        img(src="/img/company-logos/5.png", alt="")

//- Footer
.footer-area
    .container
        .row
            .col-lg-3.col-md-6
                .footer-box.about-widget
                    h2.widget-title Về chúng tôi
                    p Đặng Xuân Quý K35 Thăng Long Uni
            .col-lg-3.col-md-6
                .footer-box.get-in-touch
                    h2.widget-title Get in Touch
                    ul
                        li Số 3 - Ngõ 16 - Ngách 67 - Phố Định Công Hạ - Hà Nội
                        li dangxuanquy.work@gmail.com
                        li +8467004916
            .col-lg-3.col-md-6
                .footer-box.pages
                    h2.widget-title Pages
                    ul
                        li
                            a(href="/") Trang chủ
                        li
                            a(href="/about") Giới thiệu
                        li
                            a(href="/services") Cửa hàng
                        li
                            a(href="/news") Tin tức
                        li
                            a(href="/contact") Liên hệ
            .col-lg-3.col-md-6
                .footer-box.subscribe
                    h2.widget-title Đăng Ký
                    p Đăng ký vào danh sách email của chúng tôi để nhận được những cập nhật mới nhất..
                    form(action="index.html")
                        input(type="email", placeholder="Email")
                        button(type="submit")
                            i.fas.fa-paper-plane

//- copyright
.copyright
    .container
        .row
            .col-lg-6.col-md-12
                p
                    | Bản quyền © 2025 -
                    a(href="https://www.facebook.com/xuan.quy.420350") Đặng Xuân Quý
                    | , Tất cả quyền được bảo lưu.
                    br
                    | Phân phối bởi -
                    a(href="https://www.facebook.com/xuan.quy.420350") SpiderMeow Company
            .col-lg-6.text-right.col-md-12
                .social-icons
                    ul
                        li
                            a(href="https://www.facebook.com/xuan.quy.420350", target="_blank")
                                i.fab.fa-facebook-f
                        li
                            a(href="#", target="_blank")
                                i.fab.fa-twitter
                        li
                            a(href="https://www.instagram.com/spidermieow/", target="_blank")
                                i.fab.fa-instagram
                        li
                            a(href="#", target="_blank")
                                i.fab.fa-linkedin
                        li
                            a(href="#", target="_blank")
                                i.fab.fa-dribbble
